.Gamepad {
    position   : absolute;
    width      : 100%;
    background : #000800;

    %Guitar {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
    }

    &__Guitar {
        @extend %Guitar;
        opacity : 0.7;
    }

    %Button {
        @extend %Guitar;
        -webkit-filter : brightness(1.6);

        &.on  { opacity : 1.0; }
        &.off { opacity : 0.0; }
    }

    %NeckButton {
        @extend %Button;
    }
    &__Red {
        @extend %NeckButton;
    }
    &__Green {
        @extend %NeckButton;
    }
    &__Blue {
        @extend %NeckButton;
    }

    %BodyButton {
        @extend %Button;
    }
    &__Select {
        @extend %BodyButton;
    }
    &__Start {
        @extend %BodyButton;
    }

    &__SimulateButton {
        position : absolute;
        top      : 90%;
        height   : 56px;
    }
}
