html {
    color      : white;
    background : black;
    font-weight: bold;
}

.Wrapper {
    position    : absolute;
    width       : 960px;
    height      : 100%;
    left        : 50%;
    margin-left : -480px;
}

.LeftColumn {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 400px;
    height   : 100%;
}

.RightColumn {
    position : absolute;
    top      : 0;
    left     : 400px;
    width    : 560px;
    height   : 100%;
}

.Title {
    position  : relative;
    height    : 72px;
    font-size : 48px;
}

@import 'gamepad';
@import 'sampler';
@import 'distortion';
@import 'timer';
