html {
    color      : white;
    background : black;
}

.Distortion {
    background: #333;

    .indicator {
        display : block;
        border  : 1px solid black;
        width   : 10px;
        height  : 10px;

        &.on  { background: red; }
        &.off { background: gray; }
    }
}

.Gamepad {
    position         : relative;
    display          : block;
    width            : 100%;
    height           : 900px;
    background-color : #000800;

    &__Guitar {
        opacity   : 0.7;
        height: 100%;
    }

    %Button {
        position : absolute;
        top    : 0;
        left   : 0;
        height : 100%;
        -webkit-filter : brightness(1.6);

        &.on  { opacity : 1.0; }
        &.off { opacity : 0.0; }
    }

    %NeckButton {
        @extend %Button;
    }
    &__Red {
        @extend %NeckButton;
    }
    &__Green {
        @extend %NeckButton;
    }
    &__Blue {
        @extend %NeckButton;
    }

    %BodyButton {
        @extend %Button;
    }
    &__Select {
        @extend %BodyButton;
    }
    &__Start {
        @extend %BodyButton;
    }
}

.Timer {
    width  : 100%;
    height : 200px;
    background-color: #eef;
    color: #FF8888;

    &__BPM {
        display: block;
    }
    &__Interval {
        display: block;
    }
    &__TapButton {
        width: 200px;
        height:120px;
        background-color: #FF66DD;
    }
}

.Sampler {
    background : #000033;
    position :absolute;
    top  : 160px;
    left : 400px;
    font-size: 18px;
    line-height: 32px;
    padding: 10px;

    &__Header {
        height : 48px;
    }

    &__KitName {
        display : inline-block;
        width : 120px;
        vertical-align: bottom;
    }
    &__KitSelector {
        display : inline-block;
        width   : 170px;
        vertical-align: middle;
    }

    &__Red   { color: #F88; }
    &__Green { color: #8F8; }
    &__Blue  { color: #88F; }

    &__SampleNameLabel {
        display : inline-block;
        width : 120px;
    }
    &__SampleName {
        display : inline-block;
        width   : 160px;
    }
    &__Play {
        display : inline-block;
        width   : 20px;
        color: #99eeFF;
    }

}
