html {
    color: red;
}

.Distortion {
    background: #dddddd;

    .indicator {
        display : block;
        border  : 1px solid black;
        width: 10px;
        height: 10px;

        &.on  { background: red; }
        &.off { background: gray; }
    }
}
